
$primary-color: hsl(0, 0%, 84%);
$dark-mode-color: darken($primary-color, 50%);

$menu-background: rgb(119, 119, 119);
$dark-mode-menu: darken($menu-background, 50%);
$menu-text-color: white;

$lightTheme: true;

.theme {
    background: $primary-color;
    color: black;
}

h1 {
    text-align: center;
    padding: 30px;
}
h2 {
    @extend h1;
}

.menu {
    background-color: $menu-background;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px;

    li {
        list-style: none;
        padding: 10px;
        color: $menu-text-color;
    }
    li:hover {
        background-color: rgb(55, 55, 55);
    }
    a {
        color: $menu-text-color;
        text-decoration: none;
    }
}

.mobile-menu {
    display: none;
    background-color: $menu-background;
    gap: 10px;
    padding: 10px;
    
    li {
        list-style: none;
        transition: all 0.3s ease;
        text-align: center;
        color: $menu-text-color;
    }
    li:hover {
        background-color: rgb(55, 55, 55);
    }
    a {
        text-decoration: none;
        color: $menu-text-color;
    }
} 
.active-menu {
    background-color: rgb(55, 55, 55);
    padding: 10px;
}
#pics {
    display: flex;
    justify-content: center;
    gap: 30px;
}

@mixin picture($border, $circle) {
    border-width: $border;
    border-style: solid;
    border-color: white;

    @if $circle {
        margin-top: 50px;
        border-radius: 50%;
    } @else {
        margin-top: 10px;
    }
}

.first-pic {
    @include picture(10px, true);
}
.second-pic {
    @include picture(10px, false);
}

.explanation {
    display: flex;
    justify-content: center;
    div {
        width: 500px;
        margin: 20px;
    }
} 

.sass-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    article {
        margin-top: 30px;
    }
    p {
        line-height: 1.5;
        max-width: 600px;
    }
}


footer {
    @extend h1;

    p {
        text-transform: uppercase;
    }

} 

@media (prefers-color-scheme: dark) {
    .theme {
        background-color: $dark-mode-color;
        color: white;
    }
    .menu {
        background-color: $dark-mode-menu;
    }
    .first-pic {
        border-color: $dark-mode-menu;
    }
    .second-pic {
        border-color: $dark-mode-menu;
    }
}
@media (max-width: 1200px) {
    #pics {
        flex-direction: column;
        align-items: center;
        img {
            width: 450px;
        }
    }
}
@media (max-width: 1000px) {
    .menu {
        display: none;
    }
    .mobile-menu.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 100px;
    }
    .explanation {
        flex-direction: column;
        align-items: center;
        div {
            width: 450px;
        }
    }

    .sass-text p {
        width: 450px;
    }
}